body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.form-inline {
  margin: 10px;
}
.table td {
  text-align: center;
}

.table th {
  text-align: center;
}

.table {
  margin: auto;
}

/*body {*/
/*  background: url('background.jpg') no-repeat center center fixed;*/
/*  opacity: 4;*/
/*  -webkit-background-size: cover;*/
/*  -moz-background-size: cover;*/
/*  background-size: cover;*/
/*  -o-background-size: cover;*/
/*}*/
label {
  clear:left;
  text-align:right;
  padding-right:10px;
}